h1{
  text-align: center;  
  padding-top: 50px;
}

.container{

  display:block;
  margin:0 auto;
  max-width: 900px;
  background-color: darkseagreen;

}

a{
  text-decoration: none;
}

ul{
  text-decoration: none;
  list-style: none;
}

li{
  text-align: center;
  font-size: 14px;

}

img{
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 10px;

}